.errorPerro {
  display: contents;
  color: rgba(255, 0, 0, 0.66);
  font-size: 18px;
}
.selects {
  margin-bottom: 12px;
}

.modalBackground-dog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5.8px);
    
  
   
  }
  
  .modalContainer-dog {
    width: 500px;
    height: 660px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer-dog .title-dog {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn-dog{
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn-dog button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer-dog .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer-dog .footer-dog {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer-dog .footer-dog button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #23c483;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
  }
  
  #cancelBtn-dog {
    background-color: rgb(255, 94, 126);
  }

 
 
  .form-dog{
    font-family: Arial, Helvetica, sans-serif;
    display: fixed;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 25px;
    
  }


  .ul{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    display: flex;
    width: auto;
    overflow: auto;
    height: 20vh;
    padding: 0;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .li{
    display: flex;
    list-style: none;
    font-size: 14px;
    margin: 2px;
}